[submodule "AXL"]
	path = AXL
	url = https://github.com/revk/AXL
[submodule "Dataformat"]
	path = Dataformat
	url = https://github.com/revk/Dataformat
[submodule "websocket"]
	path = websocket
	url = https://github.com/revk/websocket
[submodule "DESFireAES"]
	path = DESFireAES
	url = https://github.com/revk/DESFireAES
[submodule "ESP32/ESP32RevK"]
	path = ESP32/ESP32RevK
	url = https://github.com/revk/ESP32RevK
[submodule "ESP32/DESFireAES"]
	path = ESP32/DESFireAES
	url = https://github.com/revk/DESFireAES
