alarmpanel
cardissue
solarsystem
can
solarsystem.conf
config.h
solarsystem.key
login.conf
*.old
*.o
*~
*.swp
.DS_Store
*/*.bin
*/*.old
*/*/*.old
ESP32/secure_boot_signing_key.pem
ESP32/build/*
ESP32/sdkconfig
sdkconfig
pn532test
