alarmpanel
cardissue
solarsystem
can
sscert
message
makeaid
solarsystem.conf
config.h
message.keys
solarsystem.keys
login.conf
types
*.old
*.o
*~
*.swp
.DS_Store
*/*.old
*/*/*.old
*/*.BAK
www/*.bin
ESP32/*.pem
ESP32/build/*
ESP32/sdkconfig
sdkconfig
pn532test
