[submodule "AXL"]
	path = AXL
	url = https://github.com/revk/AXL
[submodule "Dataformat"]
	path = Dataformat
	url = https://github.com/revk/Dataformat
[submodule "websocket"]
	path = websocket
	url = https://github.com/revk/websocket
[submodule "ESP32/components/DESFireAES"]
	path = ESP32/components/DESFireAES
	url = https://github.com/revk/DESFireAES
[submodule "DESFireAES"]
	path = DESFireAES
	url = https://github.com/revk/DESFireAES
[submodule "ESP32/components/ESP32-PN532"]
	path = ESP32/components/ESP32-PN532
	url = https://github.com/revk/ESP32-PN532
[submodule "ESP32/components/ESP32-VL53L0X"]
	path = ESP32/components/ESP32-VL53L0X
	url = https://github.com/revk/ESP32-VL53L0X
[submodule "ESP32/components/ESP32-RevK"]
	path = ESP32/components/ESP32-RevK
	url = https://github.com/revk/ESP32-RevK
[submodule "ESP32/components/ESP32-GalaxyBus"]
	path = ESP32/components/ESP32-GalaxyBus
	url = https://github.com/revk/ESP32-GalaxyBus
[submodule "ESP32/ftdizap"]
	path = ESP32/ftdizap
	url = https://github.com/revk/ftdizap
	branch = main
[submodule "ESP32/PCBCase"]
	path = ESP32/PCBCase
	url = https://github.com/revk/PCBCase
[submodule "PCBCase"]
	path = PCBCase
	url = https://github.com/revk/PCBCase
[submodule "AJL"]
	path = AJL
	url = https://github.com/revk/AJL
[submodule "SQLlib"]
	path = SQLlib
	url = https://github.com/revk/SQLlib
[submodule "login"]
	path = login
	url = https://github.com/revk/login
	branch = main
