/* SolarSystem css */

div.main {
	padding: 2px;
}

div.keypad {
	display:inline-block;
	position:relative;
	vertical-align: top;
}

pre.keypadline1 {
	font-size: 11px;
	position: absolute;
	left: 58px;
	top: 22px;
}

pre.keypadline2 {
	font-size: 11px;
	position: absolute;
	left: 58px;
	top: 34px;
}

div.keypadlabel {
	position: absolute;
	left: 90px;
	bottom: 25px;
}

div.keypadbuttons {
	position: absolute;
	width: 120px;
	height: 120px;
	left: 51px;
	bottom: 71px;
}

button.keypadbutton {
	position: absolute;
	width: 30px;
	height: 30px;
	background: transparent;
	border: none;
}

img.keypad {
	width:200px;
}

div.door {
	display: inline-block;
	position: relative;
	text-align: center;
	vertical-align: top;
}

div.doorlabel {
	position: absolute;
	top: 2px;
	left: 2px;
	color: white;
	width: 100%;
	pointer-events: none;
}

div.doorstate {
	position: absolute;
	bottom:2px;
	left:2px;
	color:black;
	width: 100%;
	pointer-events: none;
}

div.group {
	display: inline-block;
	position: relative;
	text-align: center;
	vertical-align: top;
}

div.groupid {
	position: absolute;
	top: 15px;
	width: 100%;
	pointer-events: none;
}

.inputidle {
	background-color: #8f8;
	border: 1px solid green;
	padding: 1px;
	margin: 1px;
}

.inputactive {
	background-color: #f88;
	border: 1px solid red;
	padding: 1px;
	margin: 1px;
}

.inputfault {
	background-color: #88f;
	border: 1px solid blue;
	padding: 1px;
	margin: 1px;
}

.inputtamper {
	background-color: #f8f;
	border: 1px solid purple;
	padding: 1px;
	margin: 1px;
}

.outputidle {
	background-color: #8f8;
	border: 1px solid green;
	padding: 1px;
	margin: 1px;
}

.outputactive {
	background-color: #f88;
	border: 1px solid red;
	padding: 1px;
	margin: 1px;
}

table.esp {
	display:inline-block;
}
table.rio {
	display:inline-block;
}
table.max {
	display:inline-block;
}
table.device {
	display:inline-block;
}
td {
	margin:1px;
	padding:1px;
	border:1px solid transparent;
}

th {
	text-align: left;
}

@font-face{font-family:"FiveByNineLCD";font-style:normal;font-weight:400;src:url(FiveByNineLCD-Regular.ttf);}
pre {font-family:"FiveByNineLCD",monospace;}
body {font-family:sans-serif;}

img.doorimg {width:100px;height:183px;}
