/* SolarSystem css */

div.main {
	width: 510px;
	padding: 2px;
}

div.keypad {
	display:inline-block;
	position:relative;
	vertical-align: top;
}

div.keypadline1 {
	font-family: monospace;
	font-size: 11px;
	position: absolute;
	left: 59px;
	top: 30px;
}

div.keypadline2 {
	font-family: monospace;
	font-size: 11px;
	position: absolute;
	left: 59px;
	top: 42px;
}

div.keypadlabel {
	position: absolute;
	left: 90px;
	bottom: 25px;
}

div.keypadbuttons {
	position: absolute;
	width: 120px;
	height: 120px;
	left: 51px;
	bottom: 71px;
}

button.keypadbutton {
	position: absolute;
	width: 30px;
	height: 30px;
	background: transparent;
	border: none;
}

img.keypad {
	width:200px;
}

div.door {
	display: inline-block;
	position: relative;
	text-align: center;
	vertical-align: top;
}

div.doorlabel {
	position: absolute;
	top: 2px;
	left: 2px;
	color: white;
	width: 100%;
	pointer-events: none;
}

div.doorstate {
	position: absolute;
	bottom:2px;
	left:2px;
	color:white;
	width: 100%;
	pointer-events: none;
}

div.group {
	display: inline-block;
	position: relative;
	text-align: center;
	vertical-align: top;
}

div.groupid {
	position: absolute;
	top: 15px;
	width: 100%;
	pointer-events: none;
}

div.inputidle {
	display: inline-block;
	background-color: #8f8;
	border: 1px solid green;
	padding: 1px;
	margin: 1px;
}

div.inputactive {
	display: inline-block;
	background-color: #f88;
	border: 1px solid red;
	padding: 1px;
	margin: 1px;
}

div.inputfault {
	display: inline-block;
	background-color: #88f;
	border: 1px solid blue;
	padding: 1px;
	margin: 1px;
}

div.inputtamper {
	display: inline-block;
	background-color: #f8f;
	border: 1px solid purple;
	padding: 1px;
	margin: 1px;
}

div.outputidle {
	display: inline-block;
	background-color: #8f8;
	border: 1px solid green;
	padding: 1px;
	margin: 1px;
}

div.outputactive {
	display: inline-block;
	background-color: #f88;
	border: 1px solid red;
	padding: 1px;
	margin: 1px;
}
