/* SolarSystem css */

div.status {
	float:right;
}

div.keypad {
	display:inline-block;
	position:relative;
}

div.keypadline1 {
	font-family: monospace;
	font-size: 11px;
	position: absolute;
	left: 59px;
	top: 30px;
}

div.keypadline2 {
	font-family: monospace;
	font-size: 11px;
	position: absolute;
	left: 59px;
	top: 42px;
}

div.keypadlabel {
	position: absolute;
	left: 90px;
	bottom: 25px;
}

img.keypad {
	width:200px;
}

