body {
	background: #7bf;
	background-image: linear-gradient(to bottom right, #8cf, #48f);
}
.error {
	color:red;
	white-space:nowrap;
}
input[type=checkbox] {
}
input[type=checkbox]::after {
}
input[type=checkbox]:checked {
}
input[type=checkbox]:checked::after {
}
a {
	text-decoration:none;
}
