body {background: #8cf;}
.error {
	color:red;
	white-space:nowrap;
}
input[type=checkbox] {
}
input[type=checkbox]::after {
}
input[type=checkbox]:checked {
}
input[type=checkbox]:checked::after {
}
a {
	text-decoration:none;
}
